<!DOCTYPE html>
<html lang = "en">
    <body>
        <%- include('../layout/header') %>
        <%- include('../layout/nav')%>
        <h4> Course Page</h4>
        <ul>
            <%courses.forEach (course => {%>
            <a href="/courses/<%=course.idArray%>">
              <li class="course">
                
               <h3 class="card-name"> <%= course.nameArray %></h3> 
               <a href="http://<%= course.webArray %>" target="_blank"><%= course.webArray %></a>
               <p class="card-phone"><%= course.phoneArray %></p>
               <p class="card-city"><%= course.cityArray %>, <%= course.stateArray %></p> 

            </li>
            
            </a>
           
        <% })%>
         </ul>
    </body>
   
</html>